input {
  &.resource-label {
    text-align: center;
  }

  &.narrow {
    max-width: 75px;
  }

  &.name {
    font-size: large;
  }
}

button {
  &.narrow {
    max-width: 75px;
  }
}

.transparent {
  background: rgba(255, 255, 255, 0)
}

.no-border {
  border: none;
}

.dotted {
  margin: 0 5px;
  border-bottom: 2px dotted black;
  align-content: flex-end;
}

.sheet-tabs {
  flex: 0;
}

.sheet-tabs.tabs {
  border: none;
  margin-top: 4px;
  margin-bottom: 8px;
  border-bottom: 2px solid var(--color-border-highlight);
}

.active.tab-color {
  background-color: var(--color-border-highlight);
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  width: 100%;
  height: auto;
  min-height: 10px;

  section.editor {
    min-height: 100px;
    border: 2px solid black;

    .editor {
      min-height: 100px;
      padding: 5px;
    }
  }
}

section.editor {
  min-height: 100px;
  border: 2px solid black;

  .editor {
    min-height: 100px;
    padding: 5px;
  }
}

// .item-body-description .editor {
//   height: auto;
//   min-height: 200px;
// }

footer {
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

.tox {
  .tox-editor-container {
    background: $c-white;
    min-height: 200px;
  }

  .tox-edit-area {
    padding: 0 8px;
  }

  &.tox-tinymce {
    min-height: 200px;
  }
}


.xp-ticks-container {
  width: 100%;
  margin-left: 5px;
}

.xp-ticks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid black;
  border-radius: 5px;
  padding: 0 5px;
}

.xp-tick {
  height: 16px;
  width: 16px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  font-weight: bold;
  transition: all 0.2s ease;
}

.xp-tick:hover {
  background: rgba(255, 255, 255, 0.8);
}

.xp-tick.ticked {
  background: #7cd000;
  color: white;
}


